<div class="ui items">
    <div class="item">
        <a class="ui tiny image">
            <img src="{{tweet.avatar}}">
        </a>
        <div class="content">
            <a class="header">{{tweet.name}}</a>
            <div class="description">
                <p>{{tweet.body}}</p>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui red button" (click)="likeTweet(tweet)">
                        <i class="heart icon"></i> Like
                    </div>
                    <a class="ui basic red left pointing label"> {{tweet.likes.length}} </a>
                </div>
            </div>
        </div>
    </div>
</div>